.skill-card {
  display: flex;
  flex-direction: column-reverse !important;
  height: 22rem !important;
}
.skill-card .primary-link {
  padding-top: 1rem;
  text-align: center;
  font-size: 1.25rem;
  font-weight: bold;
}

.about-page-content .about-title {
  padding: 10rem 0rem 0rem 20rem;
  color: var(--success-color);
}

.about-page-content .about-title h1 {
  color: var(--secondary-color);
  font-size: 4rem;
}
.about-page-content .about-title h2 {
  color: var(--success-color);
  font-size: 2rem;
  padding-top: 1rem;
}

.container .heading {
  text-align: center;
  padding-top: 4rem;
  font-size: 2.5rem;
  font-weight: bold;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 20rem;
  height: 32rem;
  border-radius: 16px;
  padding: 1rem;
  background-color: var(--background-color);
  box-shadow: var(--primary-box-shadow);
}
.card .title h1 {
  text-align: center;
  font-size: 1.25rem;
}
.card .title h2 {
  padding-top: 1rem;
  text-align: center;
  font-size: 1.25rem;
  color: var(--text-grey);
}
.card .image {
  background-color: var(--text-grey);
  border-radius: 16px;
  height: 16rem;
  width: 16rem;
  margin-top: 1rem;
}

.card .image img {
  border-radius: 16px;
  height: 16rem;
  width: 16rem;
}

.card .social-links {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  padding: 1rem 0 0 0;
}
.card .social-links :hover {
  transform: scale(1.1);
}

.list {
  justify-content: center;
  display: flex;
  padding: 4rem 0;
  gap: 4rem;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .about-page-content .primary-solid-background {
    display: grid;
    align-items: center;
    justify-content: center;
  }
  .about-page-content .about-title {
    display: grid;
    padding: 0;
    text-align: center;
  }

  .list {
    display: grid;
  }
}
