.contact-page-content {
  padding-top: 4rem;
  display: grid;
  gap: 5rem;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
}

.contact-page-content .contact-card {
  gap: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-page-content .contact-card img {
  height: 100px;
  width: 100px;
}

.contact-page-content .contact-card h1 {
  font-weight: 2rem;
}

.contact-page-content .contact-card a {
  text-decoration: none;
  text-decoration-style: none;
  font-size: 1.5rem;
  color: var(--success-color);
  font-weight: bold;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .contact-page-content {
    padding-top: 1rem;
    grid-template-columns: repeat(1, 1fr);
  }
}
