.primary-link {
  text-decoration-style: none;
  text-decoration: none;
  color: var(--success-color);
}

.secondary-link :hover {
  color: var(--primary-color);
}

.primary-link :hover {
  text-decoration-style: none;
  text-decoration: none;
  color: var(--success-color);
}
