html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--poppins);
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  box-shadow: 0 0 0 30px var(--white) inset !important;
}

*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--background-color);
}

.green {
  color: var(--green) !important;
}

.white {
  color: var(--white) !important;
}

.red {
  color: var(--red) !important;
}

.yellow {
  color: var(--yellow) !important;
}

.green-bg {
  background-color: var(--light-green) !important;
}

.white-bg {
  background-color: var(--light-white) !important;
}

.red-bg {
  background-color: var(--light-red) !important;
}

.yellow-bg {
  background-color: var(--light-yellow) !important;
}
