html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--poppins);
}

body {
  background-color: var(--background-color);
}
img {
  object-fit: cover;
}
.disable-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
