@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
  --poppins: 'Poppins', sans-serif;
  --background-color: var(--white);
  --black: #000000;
  --white: #ffffff;
  --text-grey: #637381;
  --light-grey: #f2f2f2;
}
