@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --poppins: 'Poppins', sans-serif;
  --background-color: var(--white);
  --black: #000000;
  --white: #ffffff;
  --text-grey: #637381;
  --light-grey: #f2f2f2;
  --green: rgb(0, 171, 85);
  --light-green: #c8facd;
  --yellow: #ffc107;
  --light-yellow: #fff7cd;
  --red: #ff4842;
  --light-red: #ffe7d9;
}
