@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
  --poppins: 'Poppins', sans-serif;
  --background-color: #ffffff;
  --primary-white: #f2eeee;
  --primary-color: #2a00a2;
  --secondary-color: #5f2eea;
  --ternary-color: #e4daff;
  --success-color: #00ba88;
  --text-grey: #637381;
  --primary-box-shadow: 0px 4px 20px var(--ternary-color);
  --secondary-box-shadow: 0px 4px 7px var(--success-color);
}
